**Steps for creating the Database and Inserting .csv file Data into the table**

1. Create a Database.
2. Open the Anaconda prompt: In the Anaconda Prompt provide the path where the Excel file is present.
3. Install the csvkit. The command ti install is "pip install csvkit".
This command will convert the csv file into SQL format.
4. Once csvkit is installed, wneed to write the below command in the command prompt to convert csv file tosql format.

>>csvsql --dialect mysql --snifflimit 10000 Sales_Dataset.csv > Result.sql

A result .sql file is created in the the path where the source .csv file "Sales_Dataset.csv" is present.

5.Open the Result.sql as Notepad..Copy-Paste the contents into MySQL Workbench.

**Output command**

CREATE TABLE `Sales_Dataset` (
	order_id VARCHAR(15) NOT NULL,
	order_date DATE NOT NULL,
	ship_date DATE NOT NULL,
	ship_mode VARCHAR(14) NOT NULL,
	customer_name VARCHAR(22) NOT NULL,
	segment VARCHAR(11) NOT NULL,
	state VARCHAR(36) NOT NULL,
	country VARCHAR(32) NOT NULL,
	market VARCHAR(6) NOT NULL,
	region VARCHAR(14) NOT NULL,
	product_id VARCHAR(16) NOT NULL,
	category VARCHAR(15) NOT NULL,
	sub_category VARCHAR(11) NOT NULL,
	product_name VARCHAR(127) NOT NULL,
	sales DECIMAL(38, 0) NOT NULL,
	quantity DECIMAL(38, 0) NOT NULL,
	discount DECIMAL(38, 3) NOT NULL,
	profit DECIMAL(38, 5) NOT NULL,
	shipping_cost DECIMAL(38, 2) NOT NULL,
	order_priority VARCHAR(8) NOT NULL,
	year DECIMAL(38, 0) NOT NULL
);

6. **Load the data available in Sales_Datset.csv file to the Sales_dataset table**

Below command is used to load the Sales_data.csv file into the table that is created..

**NOTE** : Place the .csv file in the path where MySQL is installed as seen below.

LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Sales_Dataset.csv'
INTO TABLE Sales_Dataset
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;


**Output**
Data is seen

**Use of Common Table Expressions**
1. **Common Table Expression -- is used when there is a Complexity + Reuse of the Query**

2. **----Common Tbale Expressions are Used whenever there are lot JOINS and SubQueries,we use CTE**