**There are 3 types of Constraints in SQL**

**1. Primary key** --This has two features:
     i) Unique
     ii) NOT NULL

**2. Unique Key** --This has a single feature. NOT NULL contraint is not applied for this key
     i)Unique


**3. Foreign Key** -- This key has two features
     i) Field/Column Nam eto which it is pplied has to be mentioned
     ii) Reference  to the Parent Table and the Primary Key of the table has to be mentioned.

Example:

FOREIGN KEY(SelectedCourses) REFERENCES Course(CourseID)

Note: The Foreign key CourseID is the field to which it is Refrenced to is an Integer, hence the field SelectedCourses..should also be Integer.

**Difference between the Primary key and the Unique key?**

A:
**Primary key**  -The Primary key has two features:
i. It should have **NOT NULL** Constraint

ii.It is **Unique**

**Unique key: ** - The Unique key has a single Contraint
i. It should be Unique
ii NOT NULL Constaraint is not there

**Data Analysis - Using 3 tables[Employee,Learners,Course]**

/*---Get the Highest Salary of an Employee---*/

** ORDER BY** command to Sort the Data in **ASCENDING** or **DESCENDING** Order.


By Default teh Data is Sorted in the Ascending Manner.

To change the order to Descending Order we change is as ORDER BY DESC

**LIMIT: **The Key Word "LIMIT" restricts us to limit display the Number of Recordds

Example:

To get the Top most record we use LIMIT 1.

 **Example for Using ORDER BY and LIMIT: Get the Record of the Employee getting the Highest Salary**

 SELECT *FROM employee ORDER BY Salary DESC LIMIT 1;

 Output:

 EmpID, FirstName, LastName, Age, Salary, Location

 '1', 'Priya', 'Bhatia', '26', '100000', 'Bengaluru'


 /**--ALTERNATE COMMAND**/
SELECT *FROM employee WHERE Salary =(SELECT MAX(SALARY) FROM employee)



**EXECUTION ORDER OF THE COMMAND**
   **FROM(Fetch the Table) ==>SELECT(Selects the Columns)=>ORDER BY (Sorts the column Data)==>LIMIT(Restricts the Data Dispaly to 1)**




**2. Get the Record of the Employee getting the Highest Salary where age of the employee is greater than 25**

**QUERY:**

SEELCT *FROM employee WHERE Age >25 ORDER BY Salary DESC LIMIT 1;


**EXECUTION ORDER OF THE COMMAND**

 **FROM(Fetch the Table) ==>WHERE Clause To Filter the Data by Age(gets all the Records with Age >25) SELECT(Selects all the Columns)=>
     =>ORDER BY (Sorts the column Salary Data for those Records)==>LIMIT(Restricts the Data Dispaly to 1)**

**OUTPUT:**
 EmpID, FirstName, LastName, Age, Salary, Location

 '1', 'Priya', 'Bhatia', '26', '100000', 'Bengaluru'


**3.Display the Number of enrollements in techForAllWithPriya.Fetch from Learners Table,As Enrollement details are in Learners table-**


 SELECT COUNT(*) Num_of_Enrollements FROM employee;

** Output:**
Num_of_Enrollements
'7'


**4. Dispaly the Number of enrollements where CourseID=3**

SELECT COUNT(*) Num_of_Enrollements_SQL FROM Learners  where SelectedCourses=3;

**Output**

Num_of_Enrollements_SQL
'2'


** 5. Count the Number of Enrollements in the Month of JAN**

**QUERIES WITH PATTERN MATCHNG--USING LIKE**

SELECT COUNT(*) Num_Jan_Enrollements FROM Learners WHERE LearnerEnrollmentDate LIKE '%-01-%';

'%-01-%' is written since we have 01 as the Fixed query data other entry are flexible.. because we want the Records for the Month of Jan

Output:

Num_Jan_Enrollements
'4'

** UPDATE THE LearnersCompany of Jeevan to Amazon and YearsOfExp to 3**/

UPDATE Learners SET YearsOfExp=3 , LearnerCompany ="Amazon"
WHERE Learner_Id=4;

Output:

'4', 'Jeevan', 'Hegde', 'jeevanhegde@yahoo.co.in', '9888887776', '2024-02-01 00:00:00', '1', '3', 'Amazon', 'Instagram', '2024-02-29 00:00:00', 'Mumbai'