**Case Statements**

IN SQL when there are conditional statements,they are called as Case Statements.

CASE STATEMENTS ARE USED ONLY WHEN THERE CONDITION TO CHECK AND GET THE OUTPUT


IN **SQL** these statements are wriiten as by using

WHEN ---Condition becomes TRUE then ----some action.

Examples:

WHEN Course_Price > 3599 THEN "Course is Expensive"

WHEN Course_Price > 1499 THEN "Course is Moderate"

ELSE

"Course is Cheaper"

**Case Statement Examples:**

**CASE STATEMENTS IN SQL**
**Create a new coulmn as course_fee_Status.**

**Course_fee >3999 --Course is Expensive**
**Course_fee >1499 --Course is Moderate**
**ELSE Course is Cheap Course**


SELECT CourseID,CourseName,CourseFee,
	CASE
        WHEN CourseFee>3999 THEN "Expensive Course"
        WHEN CourseFee>1499 THEN "Moderate Course"
	    ELSE "Cheap Course"
	END AS CourseFeeStatus
FROM course_update;

**CASE EXPRESSION IN SQL**
**Categorizing the Course based on Course Fees.--
       CourseType: Premium Course,Plus Course,Regular Course**
       
       SELECT CourseID,CourseFee,CourseName ,
			CASE CourseFee
                WHEN 4999 THEN "Premium Course"
                WHEN 3999 THEN "Plus Course"
                ELSE "Regular Course"
			END AS CourseType
	  FROM course_update;

**WHEN TO USE CASE STATEMENT AND WHEN TO USE CASE EXPRESSION?**

Ans; WHEN SOME CONDITIONS ARE GIVEN TO CHECK THE USE **CASE STATEMENTS**.
     WHEN THERE ARE FIXED NUMBERS TO MAKE A STATEMENTS THEN GO FOR **CASE EXPRESSIONS**