1.To the databases available in the system : SHOW databases --To display all the available database on the platform

2 .Create Data base if only it dos not exists : CREATE DATABASE  if not exists techforallwithpriya;

3.To see which database is being correctly being used: SELECT database().
--Returns NULL if No database is being used.

There are two types of Database:

1.Relational -Data stored in the form of Rows and Columns in a structured formathaving relationships amoung the various tables.

Ex: 1. MySQL
    2. PostgreSQL
    3. SQL Server

2. No SQL -Stored in the form of key-value pair.

Ex:
    1. HBase
    2. MongoDB
    3. Cassandra and many more

Two types of datatypes in SQL:

1. INT - deals with the numeric values

2. VARCHAR - deals with the character values.

**CRUD Operations**

1. Create -Create a new table inside teh data base

2. Read-Read the data inside the table

3. Update-Update the data inside teh table

4. Delete-Delete the instance

In [ ]:
Create -Create a new table inside thh data base:

CREATE TABLE employee(
        FirstName varchar(20),
		lastName varchar(20),
        Age int,
        Salary int,
        Location varchar(20)
);

To find the Description for the table:
DESC employee;

In [ ]:
To see the Tables present inside the database

SHOW tables;