**Joins**

Example1:
**table-1  "accounts"**  which has columns: id,name
**table-2  "transactions""** which has columns: acc_id,tans_id,value

Need to get the below details from the two tables:

id,name,num_of_transcations,total_value_per_day


below is the way to do it:

1. Identify the common columns between the two tables
   In the above table1 and table2 ,we see  id and acc_id are common.

**What is Join and why it is considered?

Join is considered when we want to join two or more tables.
Each table should hav eatleast one column that is similar/same.**


There are 4 types of Join-
1. **INNER JOIN Or JOIN--** When we want to find the common values between the two tables or Intersection between the two table items ,we go with **INNER JOIN**

Just writing **"JOIN"** is the **"INNER JOIN"**
2. **LEFT JOIN --** When we want to find the common values between table1 and tables  and also want to display all the elements of table1,we go with the  **LEFT JOIN**
Example : there are 4 ids which are common in table1 and table2 ... So all these 4 ids are displayed.. other than these 4 id's there are few id's which are present in table1 ,..but these id's are not in table 2.The remaining 4ids from table1 will be printed...
 All the Left tableId's that is table1 Ids will be printed ..irrespective if its in table2 or Not..That is** LEFT INNER JOIN.**
..

3.** RIGHT JOIN -**When we want to find the common values between table2 and table1 .. And then want to display all the recordsof Table2 that exists.


4. **CROSS  JOIN OR FULL OUTER JOIN**-When we need the Intersection of two tablesthat is INNER JOIN Data,LEFT JOIN and RIGHT JOIN..When we need the Data of all the Join ,we go with **CROSS JOIN**

5. **SELF JOIN**

**GENERAL SYNTAX FOR THE JOIN**

SELECT COLUMNS FROM Table1(Left table)  ***JOIN*** (Only JOIN indicates INNER JOIN) Table2(Right table)
ON Table1.columns =Table2.columns(Note : these are common columns in both the tables)

**Join Query for Example1**

Example1:
**table-1  "accounts"**  which has columns: id,name
**table-2  "transactions""** which has columns: acc_id,date,value

Need to get the below details from the two tables:

id,num_transcations,total


below is the way to do it:

1. Identify the common columns between the two tables
   In the above table1 and table2 ,we see  id and acc_id are common.

***Query:*** Select Id,COUNT(date) as num_transcations,SUM(Value) as Total
from accounts JOIN
transcations on accounts.id = transcations.acc_id
WHERE MONTH(date)=3
GROUP BY Id

**Self Join**

Applying Join on the same table is **Self Join**

**Questions:**

**Question 1 :** Which Courses have highest enrollement rates?(From learners table)?


Ans: SELECT SelectedCourses ,COUNT(*) As Highest_Enrollment FROM learners
     GROUP BY SelectedCourses
     ORDER BY Highest_Enrollment DESC LIMIT 1;

**OUTPUT**

SelectedCourses, Max_Selected_Courses

'1', '4'





**Question 2 :**Which Courses have highest enrollement rates?(From learners table)? also  display the Course Name CourseId for the Highest enrolled Course.

Ans: SELECT course_update.CourseID,course_update.CourseName,COUNT(*)
As Highest_Enrollement FROM learners
JOIN course_update
WHERE course.CourseID=learners.SelectedCourses
GROUP BY SelectedCourses
ORDER BY Highest_Enrollement;

**Output**

CourseName, CourseID, Highest_Enrollement

'SQL Bootcamp', '1', '4'